<!DOCTYPE html>
<html>
<head>
    <title>CSV Record List</title>
</head>
<body>
    <h1>List of CSV Records</h1>

    <h2>All Records</h2>
    <ul>
        id    name     age
        {% for record in all_records %}

            <li>{{record.id}}-->{{ record}} --> {{record.age}}</li>
        {% endfor %}
    </ul>
    <hr>
    <h2>Bonus Filter Records by age greater the 15</h2>
    <ul>
        {% for filter in filtered_records %}
            <li>{{ filter }}</li>
        {% endfor %}
    </ul>

    <h2>Specific Record By Id 1</h2>
    {{ record }}
</body>
</html>
